* {
    margin: 0;
    padding: 0;
}

table {
    border: 2px black solid;
}

th {
    background: grey;
    border: 2px solid black;
}

td {
    border: 1px black solid;
}

code {
    background-color: #EEEEEE;
}

pre {
    display: block;
    background-color: #EEEEEE;
}

img {
    height: 20px;
    background: transparent !important;
}